@using GroceryWeb.Models
@model AzureMessage


<div class="row">
    <h2>Application uses</h2>
    <form asp-controller="Home" asp-action="AddMessage" method="post">
        Text for Message:  <input asp-for="AzureMessageText" /> <br />
        <button type="submit">Send Message</button>
    </form>
</div>
